In [2]:
import numpy as np
import pandas as pd

#store = pd.HDFStore('E:\\Data Science\\Capstone\\Datastore\\mystore.h5')

In [3]:
def file_len(fname):
    with open(fname) as f:
        for i, l in enumerate(f):
            pass
    return i + 1

In [22]:
DNS_Names = ["time","source computer","computer resolved"]
flows_Names = ["time","duration","source computer","source port","destination computer",
               "destination port","protocol","packet count","byte count"]
auth_Names = ["time","source user@domain","destination user@domain","source computer",
              "destination computer","authentication type","logon type","authentication orientation","success/failure"]
proc_Names = ["time","user@domain,computer","process name","start/end"]
redteam_Names = ["time","user@domain","source computer","destination computer"]

DNS_Data = pd.read_csv('E:\\Data Science\\Capstone\\Dataset\\dns.txt',names=DNS_Names, nrows=10000000)
flows_Data = pd.read_csv('E:\\Data Science\\Capstone\\Dataset\\flows.txt',names=flows_Names, nrows=10000000)
proc_Data = pd.read_csv('E:\\Data Science\\Capstone\\Dataset\\proc.txt',names=proc_Names, nrows=10000000)
auth_Data = pd.read_csv('E:\\Data Science\\Capstone\\Dataset\\auth.txt',names=auth_Names, nrows=10000000)

redteam_Data = pd.read_csv('E:\\Data Science\\Capstone\\Dataset\\redteam.txt',names=redteam_Names)

In [4]:
print(file_len('E:\\Data Science\\Capstone\\Dataset\\auth.txt'))

KeyboardInterrupt:

In [6]:
print(file_len('E:\\Data Science\\Capstone\\Dataset\\flows.txt'))

129977412

In [7]:
print(file_len('E:\\Data Science\\Capstone\\Dataset\\dns.txt'))

40821591

In [8]:
print(file_len('E:\\Data Science\\Capstone\\Dataset\\proc.txt'))

426045096

In [10]:
print(file_len('E:\\Data Science\\Capstone\\Dataset\\auth.txt'))

1051430459

In [23]:
DNS_Data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000000 entries, 0 to 9999999
Data columns (total 3 columns):
time                 int64
source computer      object
computer resolved    object
dtypes: int64(1), object(2)
memory usage: 1.2 GB

In [24]:
auth_Data.head()

,time,source user@domain,destination user@domain,source computer,destination computer,authentication type,logon type,authentication orientation,success/failure
0,1,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C1250,C586,NTLM,Network,LogOn,Success
1,1,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success
2,1,C101$@DOM1,C101$@DOM1,C988,C988,?,Network,LogOff,Success
3,1,C1020$@DOM1,SYSTEM@C1020,C1020,C1020,Negotiate,Service,LogOn,Success
4,1,C1021$@DOM1,C1021$@DOM1,C1021,C625,Kerberos,Network,LogOn,Success

In [17]:
redteam_Data.head()

     time user@domain source computer destination computer
0  150885   U620@DOM1          C17693                C1003
1  151036   U748@DOM1          C17693                 C305
2  151648   U748@DOM1          C17693                 C728
3  151993  U6115@DOM1          C17693                C1173
4  153792   U636@DOM1          C17693                 C294

In [14]:
a = set((45, 'SAS', 4.0, 5, 6))

In [15]:
a_immutable = frozenset(a)

In [16]:
a_immutable.add('help')

AttributeError: 'frozenset' object has no attribute 'add'

In [18]:
# Steven Millett
# Python tutorial
questions = ['name', 'quest', 'favorite color','birth month']
answers = ['Lancelot', 'The Holy Grail', 'blue','Smarch']
for q, a in zip(questions,answers):
    print ('What is your %s? It is %s.' % (q,a))

What is your name? It is Lancelot.
What is your quest? It is The Holy Grail.
What is your favorite color? It is blue.
What is your birth month? It is Smarch.